
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    border: solid 5px;
    border-color: darkviolet;
    float: left;
    width: 25%;
    height: fit-content;
    clear: left;
}

#two {
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    border: solid 5px;
    border-color: dimgray;
    float: right;
    width: 25%;
    height: fit-content;
    clear: right;
}

#three {
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    border: solid 5px;
    border-color: darkslategray;
    float: left;
    width: 25%;
    height: fit-content;
    clear: left;
}

#four {
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    border: solid 5px;
    border-color: darkturquoise;
    float: right;
    width: 25%;
    height: fit-content;
    clear: right;
}

#link {
    text-align: center;
}