body {
    font-size: 16px;
    color: rgb(40,40,40);
    background-color: MistyRose;
    font-family: 'Be Vietnam Pro', sans-serif;
}

#header-nav {
    background-color: pink;
    border-radius: 0;
    border: 0;
}

#flag {
    background: url('../images/125px-Flag_of_Vietnam.svg.png') no-repeat;
    width: 125px;
    height: 83px;
    margin: 10px 15px 10px 0;
}
.namepage {
    padding-top: 25px;
}
.namepage h1 {
    color: red;
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 1.5px 1.5px 1.5px #383838;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    clear: both;
}
.namepage a:hover, .namepage a:focus {
    text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1.5px solid gray;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

  }
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
    /* Header */

    /* End Header */

  }
  
  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {

  }
  
  /********** Extra small devices only **********/
  @media (max-width: 767px) {
    .namepage {
        padding-top: 10px;
    }
    .namepage h1 {
        padding-top: 10px;
        font-size: 5vw;
        padding-left: 10px;
    }
  }
  
  /********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
  @media (max-width: 479px) {

  }